<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VirtualCastJsonEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="VirtualCastJsomEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualCastJsonEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <VirtualCastJsonEditor.Properties.Settings>
            <setting name="LocalPass" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoneFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataGridSelecter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NgLevelCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EyeFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DLPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VCPass" serializeAs="String">
                <value />
            </setting>
            <setting name="VCexePass" serializeAs="String">
                <value />
            </setting>
            <setting name="FastVCJE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VCJEDataSet" serializeAs="String">
                <value>VCJEDataSet</value>
            </setting>
            <setting name="VCJEConfig" serializeAs="String">
                <value>VCJEConfig</value>
            </setting>
            <setting name="DataSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slide4vrAPIToken" serializeAs="String">
                <value />
            </setting>
            <setting name="LockSlide4vrAPI" serializeAs="String">
                <value>False</value>
            </setting>
        </VirtualCastJsonEditor.Properties.Settings>
        <VirtualCastJsomEditor.Properties.Settings>
            <setting name="LocalPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpenXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoneFile" serializeAs="String">
                <value>True</value>
            </setting>
        </VirtualCastJsomEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VirtualCastJsonEditor.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ClientSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </VirtualCastJsonEditor.Properties.Settings>
    </applicationSettings>
</configuration>
