<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <WebServer>true</WebServer>
  <IpAddress>hyoudoukan.info</IpAddress>
  <FilePass>download/VCJE</FilePass>
  <ExeNeme>VirtualCastJsonEditor</ExeNeme>
  <NewRevFile>VCJE_lastest.txt</NewRevFile>
  <KeepFolder></KeepFolder>
  <SoftReStart>false</SoftReStart>
  <PingWait>500</PingWait>
</configuration>